/* Global color define */

$primary-color: #3c8dbc;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warn-color: #f0ad4e; 
$danger-color: #d9534f;
$purple-color: #9170E4;
$gray-color: #DCDFE6;
$lightgray-color: #eaeaea;
$darkgray-color: #8896a5;
$white-color: #FFFFFF;
$black-color: #103133;
$dark-color: #303133;
$wp-color: #004889;
$androidDM-color: #1382c6;

$nav-bg-color: rgb(34, 45, 50);
$nav-bg-color-active: #1b2428;

$bkg-wis-color: #0883c7;






