
.tree-progress{
  width: 1200px;
  margin:  10px auto;
  height: 800px;
  background: #FCFCFC;
  border: 1px solid #D7DBE6;
  border-radius: 3px;
}
.base-node {
    box-sizing: border-box;
    // padding: 10px;
    color: #666;
    font-size: 13px;
    font-weight: 300;
    font-family: microsoft yahei;
    background: #fff;
    border: 1px solid #D8DCE5;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        cursor: default;
    }
}
// salad
.salad-root{
    // margin-top: 14px;
    font-weight: bold;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
}
.salad {
    width: 190px;
    height: 38px;
    line-height: 38px;
    .illustration{
        width: 100%;
        height: 120px;
        overflow: hidden;
        border-radius: 5px;
        img {
            width: 100%;
        }
    }

}

// member
.member{
    display: flex;
    align-items: center;
    width: 200px;
    height: 20px;
    .photo{
        width: 60px;
        height: 60px;
        overflow: hidden;
        border: 1px solid #ddd;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    .describe{
        flex: 1;
        .name{
            margin-bottom: 5px;
            color: #333;
            font-size: 16px;
        }
        .title{
            color: #999;
        }
    }
}

$tree: v-tree;
.#{$tree}__container {
    width: 100%;
    height: 100%;
}

.#{$tree}--grabbable {
    cursor: move;
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

.#{$tree}__link-base {
    fill: none;
    stroke: #D8DCE5;
    stroke-width: 1px;
}

.#{$tree}__node-base {
    &:hover{
        .#{$tree}__collapse-icon  {
            // opacity: 1;
            circle{
                transform: scale(1);
            }
        }
    }
}
.#{$tree}__collapse-icon {
    cursor: pointer;
    // opacity: 0;
    transition: all linear 0.3s;
    circle {
        fill: #D8DCE5;
        transform: scale(1);
    }
}


